body{
  font-family: Arial, Helvetica, sans-serif;
  color:#555555;
  font-size:14px;
}

a:hover{
  text-decoration: none;
}


h1,h2,h3,h4,h5{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color:#6f1115;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  z-index: 1000;
}

#status {
  width: 257px;
  height: 91px;
  position: absolute;
  left: 50%;
  top: 55%;
  background-image: url("assets/img/logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin: -128.5px 0 0 -128.5px;
}

.bigger{
  font-size: 1.125rem;
}
