#footer{
    background: linear-gradient(90deg, #eaebed 50%, #01458e 50%);
    .left-back{
        background-color:#eaebed;
        color:#555555;
        padding:4rem 0;

        h4{
            color:#555555;
            font-size:1.125rem;
        }

        ul{
            list-style-type: none;
            padding:0;
            li{
                margin-bottom:0.25rem;
                a{
                    color:#555555;
                }
                a:hover{
                    color:#8d211b;
                }
            }
        }
    }
    .right-back{
        background-color:#01458e;
        color:#FFF;
        padding:4rem 0;

        h4{
            color:#FFF;
            font-size:1.125rem;
        }

        .news{
            background-color:#01458e;
            border:0;
            border-bottom:1px solid #FFF;
            padding:0.25rem 0.5rem;
        }
        .news::placeholder{
            color:#FFF;
            font-style: italic;
        }

        .btn-news{
            background-color:#8d211b;
            color:#FFF;
            border:1px solid #8d211b;
            display: inline-block;
            padding:5px 20px;
        }
        .btn-news:hover{
            background-color:#FFF;
            color:#8d211b;
            cursor:pointer;
        }
    }
}
.footer-copy{
    background-color:#8d211b;
    color:#FFF;
    font-size:1.125rem;   
}